:root {
	--color-dark-grey-900: #263238;
	--color-dark-grey-400: #78909c;
	--color-cyan-900: #006064;
	--color-cyan-400: #26c6da;
}

body {
	background: rgb(250,250,250);
	background: linear-gradient(0deg, rgba(250,250,250,1) 20%, rgba(224,224,224,1) 100%);
}

ol, ol li, ul, ul li { 
	margin-left: 0; 
	padding-left: 0;
	list-style-position:inside;
}

a, a:hover, a:visited {
	text-decoration: none;
}

a:visited {
	color:  #5c6bc0;
}

a:visited:hover {
	color: #7e57c2;
}

main {
	margin: 5vh 5vw;
}

@media (min-width:  800px) {
	main {
		margin: 5vh 10vw;
	}
}

@media (min-width:  1280px) {
	main {
		margin: 5vh 23vw;
	}
}

header {
	margin: 10vh 0;
}

h1, h2, header p, ol>li {
	font-family: 'Aboreto', cursive;
}

h1, p {
	margin: 0;
}

header p {
	color: #78909c;
}

ol {
	display: flex;
	flex-direction: column-reverse;
}

ol li{
	font-size: 1.75rem;
	padding: 2.5rem 0;
}

ol>li {
	border-bottom: 1px solid #bdbdbd;
	color:  #78909c;
}

ol li>a {
	color: var(--color-cyan-900);
}

ol li>a:hover{
	color: var(--color-cyan-400);
}

ul {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 1rem;
}

ul li {
	font-size: 0.8rem;
	padding: 0;
	margin-right: 2rem;
	font-family: 'Fira Sans Condensed', sans-serif;
	list-style-type: none;
}

.link {
	color: var(--color-dark-grey-900);
}

.link:hover {
	color: var(--color-dark-grey-400);
}