@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--color-white: hsl(0, 0%, 100%);
	--color-light-gray: hsl(212, 45%, 89%);
	--color-grayish-blue: hsl(220, 15%, 55%);
	--color-dark-blue: hsl(218, 44%, 22%);
}

* {
    margin:  0;
    padding:  0;
}

:where(*) img {
    width: 100%;
    object-fit: cover;
}

main {
	background-color: var(--color-light-gray); 
	padding: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
	color: var(--color-dark-blue);
	font-weight: var(--font-weight-bold);
	font-size: 1.5rem;
	line-height: 1em;
}

.qr-card {
	max-width:  320px;
    margin:  7vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--color-white);
    padding: 1rem;
}

.qr-card-header {
	border-radius: 14px;
	overflow: hidden;	
}

.qr-card-description {
	text-align: center;
	padding: 1rem;
}

.qr-card-description * {
	margin: 1rem 0;
}

.qr-card-description h3 {
	color: var(--color-dark-blue);
}

.qr-card-description p {
	color: var(--color-grayish-blue);
}


.attribution { 
    align-self: center;
    justify-self: flex-end;
}

.attribution p {
    font-size: 11px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}